[submodule "chatbot-core"]
	path = chatbot-core
	url = git@lab.u-hopper.com:chatbot/framework/chatbot-core.git
[submodule "wenet-common-models"]
	path = wenet-common-models
	url = git@lab.u-hopper.com:wenet/wenet-common-models.git
